[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
honcho = "*"
autopep8 = "*"
factom-api = {editable = true,git = "https://github.com/FactomProject/factom-api.git",ref = "master"}

[packages]
ipfshttpclient = "*"
python-logstash = "*"

[requires]
python_version = "3.7"
